@import 'normalize';
@import 'fireslider';


// Fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,700");

//clearfix
.clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

// General Styles
body, html {
  width: 100%;
  background: #f3f3f3;
  font-family: 'Open Sans';
}
hr {
	width: 960px;
	height: 1px;
	background: #dfdfdf;
	border: 0;
	margin: 10px auto;
}
a,
a:link,
a:visited {
	color: #78ac3c;
	text-decoration: none;
	&:hover {
		color: #598C1E;
		text-decoration: underline;
	}
}

// Page Styles
.content-main {
}
.wrap {
	width: 960px;
	margin: 0 auto;
}
.page-title {
	margin: 20px auto;
	text-align: left;
}
.page-title__sub {
	margin: 5px auto;
	font-weight: 300;
}
.section-title {
	font-weight: 600;
	margin: 5px 0;
}
.cols {
	width: 50%;
	float: left;
}
.linker {
	position: relative;
	&:hover {
		&:before{
			content: attr(data-link);
			position: absolute;
			top: -30px;
			left: 0;
			background: #78ac3c;
			color: #fff;
			padding: 3px 7px;
			font-size: 12px;
		}
	}
}
.code-block {
	width: 960px;
	display: block;
	background: #EFEFEF;
	border: 1px solid #dfdfdf;
	color: #006000;
	font-family: 'Source Code Pro';
	padding: 20px;
	margin: 20px auto;
}

// Overview Section
.overview-section {

}